*{
    margin: 0px;
    padding: 0px;
}




body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}



header{
    text-align: center;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color:#eeeeee;
}
.header{
    border-bottom: 1px solid #232b3f;
    margin-bottom: 5px;
    padding: 20px 40px;
}
.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    background: #ffffff;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.header h1 {
    /* text-align: ; */
    color: #2C3345;
    font-size: 2.0em;
    /* margin-bottom: 20px; */
}
form{
    padding: 40px;
    height: fit-content;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}
select, input[type="date"], input[type="text"], textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}
.rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
}
/* .rating input {
    display: none;
} */
.rating label {
    cursor: pointer;
    font-size: 2em;
    color: #ccc;
}
.rating input:checked ~ label {
    color: #FFD700;
}
.rating input:checked ~ input ~ label {
    color: #FFD700;
}
fieldset {
    border: none;
    padding: 0;
    margin-bottom: 20px;
}
legend {
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}
.checkbox-group label {
    display: block;
    margin-bottom: 6px;
}
footer {
    background: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
input[type="submit"] {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
  
}
input[type="submit"]:hover {
    background: #218838;

}

@media screen and (max-width: 480px) {
   body{
    .container {
        width: 100%;
    }
   }
}

